@import "../styles/variables";

.choice {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;

  &:hover {
    cursor: pointer;
    user-select: none;
    background-color: $info;
  }

  &:focus {
    box-shadow: 0 0 5px 5px $info;
  }
}
