@import "../styles/variables";

$bg-color: #A7DBD8;

.game-field {
  padding: 15px;
  flex: 1;

  &__result {
    padding: 20px;
  }

  &__title {
    font-size: 1.4rem;
    text-align: center;
  }

  &__choices {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
  }
}
