@import "../styles/variables";

$screen-sm-min: 576px;

@mixin lg {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__content {
    flex-grow: 3;
    display: flex;
  }

  &__sidebar {
    flex-grow: 1;
    display: flex;
  }
}

@include lg {
  .container {
    flex-direction: row;

    &__content, &__sidebar {
      flex-grow: 1;
    }
  }
}
